@{
    ViewBag.Title = "稿件管理";
}

<div class="am-cf am-padding" style="margin-top:50px;">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>稿件管理</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        @if (WebHelper.CheckAgent())
        {
            <div class="am-u-lg-12">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label am-margin-left-sm">状态</span>
                    <select name="state" style="width:120px;height:26px;">
                        <option value="-1">不限</option>
                        <option value="1">待审核</option>
                        <option value="3">已录用</option>
                        <option value="4">被退</option>
                        <option value="5">发布</option>
                    </select>
                </div>
            </div>

            <div class="am-u-lg-12 am-margin-top-sm">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label am-margin-left-sm">标题：</span>
                    <input type="text" class="am-form-field" placeholder="按标题搜索" style="width:100px;" name="title" ;>
                </div>
            </div>

            <div class="am-u-lg-12 am-margin-top-sm">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-btn am-margin-left-sm">
                        <button class="am-btn am-btn-default" onclick="Search()" type="button">搜索</button>
                        <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                    </span>
                </div>
            </div>
        }
        else
        {
            <div class="am-u-lg-8 am-u-end">
                <div class="am-input-group am-input-group-sm">
                    <span class="am-input-group-label">标题：</span>
                    <input type="text" class="am-form-field" placeholder="按标题搜索" style="width:100px;" name="title" ;>
                    <span class="am-input-group-label  am-margin-left-sm">状态</span>
                    <select name="state" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                        <option value="-1">不限</option>
                        <option value="1">待审核</option>
                        <option value="3">已录用</option>
                        <option value="4">被退</option>
                        <option value="5">发布</option>
                    </select>
                    <span class="am-input-group-btn am-margin-left-sm">
                        <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                        <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                    </span>
                </div>
            </div>
        }
    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="Title">标题</th>
                <th dataname="StateStr">状态</th>
                @if (!WebHelper.CheckAgent())
                {
                <th dataname="NewsTypeName">类型</th>      
                <th dataname="DepartmentName">投递部门</th>    
                <th dataname="UpdateAdminName">上节点审核人</th>  
                <th dataname="SubmitTime" datatype="jsondate">投递日期</th>  
                } 
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">

        function ClearFilter() {
            $("#searchDomain input").val("");
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/News/GetPageList",
            isForPhone: '@(WebHelper.CheckAgent()?1:0)' == "1",
            //数据请求地址
            events: [
                {
                     className: "am-text-danger",
                     icon: "icon-edit",
                     name: "查看",
                     click: function (item) {
                         window.location.href="/News/Manage/" + item.ID;
                     }
                 }
            ]
        });

    </script>
}
