@{
    ViewBag.Title = "稿件管理";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>稿件管理</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-6 am-u-end">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">名称：</span>
                <input type="text" class="am-form-field" placeholder="按名称搜索" style="width:100px;" name="title" ;>
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>


    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="Title">标题</th>
                <th dataname="StateStr">状态</th>
                @if (!WebHelper.CheckAgent())
                {
                <th dataname="NewsTypeName">类型</th>      
                <th dataname="DepartmentName">投递部门</th>    
                <th dataname="UpdateAdminName">上节点审核人</th>  
                <th dataname="SubmitTime" datatype="jsondate">投递日期</th>  
                } 
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@if (WebHelper.CheckAgent())
{
<div class="am-modal-footer"><span class="am-modal-btn am-btn-primary" data-am-modal-confirm="">保存</span><span class="am-modal-btn am-btn-danger" data-am-modal-close="">取消</span></div>
}
@section scripts
{
    <script type="text/javascript">

        function ClearFilter() {
            $("#searchDomain input").val("");
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/News/GetPageList",
            isForPhone: '@(WebHelper.CheckAgent()?1:0)' == "1",
            //数据请求地址
            events: [
                {
                     className: "am-text-danger",
                     icon: "icon-edit",
                     name: "查看",
                     click: function (item) {
                         window.location.href="/News/Manage/" + item.ID;
                     }
                 }
            ]
        });

    </script>
}
