@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>错误</title>
</head>
<body>
    <h2>
        抱歉，你没有该页面权限。
    </h2>
</body>
</html>