<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>





    <!--********************************************************公司信息***************************************************************-->
    <!--公司名称-->
    <add key="Company_Name" value=""/>
    <!--公司地址-->
    <add key="Company_Address" value=""/>
    <!--公司电话-->
    <add key="Company_Phone" value="400-0593-11"/>
    <!--公司传真-->
    <add key="Company_Fax" value="0591-xxxxxx"/>
    <!--公司邮箱-->
    <add key="Company_Email" value="vplan2017@126.com"/>
    <add key="Company_Email_Title" value="vplan2017@126.com"/>

    <add key="Company_Email_Password" value="vplan2017"/>
    <!--公司网址-->
    <add key="Company_SiteUrl" value="http://cc.ppjd.com"/>
    
    <!--公司微信二维码图片地址-->
    <add key="Company_QrCodePath" value="/Images/QRCode.jpg"/>
    <!--公司声明-->
    <add key="Company_Statement" value="©2017 投稿系统 xxxxxxxxxxxxx"/>   
    <!--反馈邮箱-->
    <add key="Feedback_Email" value="fjsqnjzsxh@qq.com"/>
    <!--站点标题-->
    <add key="Website-Titlte" value="投稿系统"/>

    <!--过期时间-->
    <add key="Exprise_Time" value="14"/>

    <!--********************************************************支付宝***************************************************************-->
    <!--公司名称-->
    <add key="Alipay_Pid" value="2088701677832230"/>
    <!--公司地址-->
    <add key="Alipay_Key" value="6lv3egnn0cpgtm9ccvqn5zub458lvsn6"/>
    
  </appSettings>
</configuration>
