
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background:white;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main{
	margin:7em auto 0;
	width:40%;
	background: #eee;
}
.header {
	text-align:center;
	padding:1.3em;
}
.header h1 {
	color:#272727;
	font-weight:700;
	font-size:22px;
}
.main p{
	text-align: center;
	font-size:15px;
	font-weight:600;
	color:#383737;
	padding: 20px 30px;
	margin-top: -13px;
}

.dataform{
	float:left;
	margin:22px 28px;
	width:90%;
}
.dataform input:not([type=submit]),.dataform select,.submit-btn  {
	float:left;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:60%;
	padding: 0.1em 2em 0.1em 1em;
	color: #000;
	font-size:15px;
	float: left;
	outline: none; 
	border:1px solid #EBEBEB;
    height:2rem;
}
.dataform select  {
    	width:67%;
}

form{
	padding-bottom: 2em;
}
.dataform li{
	display:block;
	color:#4D4949;
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
  	-moz-border-radius:0.3em;
 	 -o-border-radius:0.3em;
 	 margin-bottom: 10px;
}
.icon
{
	height:28px;
	width:28px;
	background:url(../images/spirit.png)  no-repeat;
	display: block;
	float: right;
	margin: 7px 9px 9px 0px;
}
.ticker{
	background:url(../images/spirit.png)  no-repeat 0px 0px;
}
.into{
	background:url(../images/spirit.png)  no-repeat -31px 0px;
}

.main h4{
	float: left;
	font-size:13px;
	font-weight: 600;
	color:#363535;
}
.dataform input[type=submit],.submit-btn,.submit-btn{
    width:84%;   
	margin:10% 15% 2% 10%;
  padding:14px 20px;
  border-radius:0.3em;
 -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  -o-border-radius:0.3em;
   color:#4D4949;
  background:#F3F3F3;
  border:1px solid #EBEBEB;
  font-weight:bold;
  font-size:15px;
  outline:none;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  margin-top:15px;
  cursor: pointer;
   background:#22d9ce;
}
 input[type=submit]:hover ,.submit-btn:hover {
 background:#ff2775;
 color:#fff;

}
 
.dataform submit,.submit-btn{
    height:50px;
    margin-left:13%;
}
/*---start-check-box----*/
.uncheked{
	height:40px;
	width:28px;
	display:block;
	background:url(../images/check-icon.png) no-repeat;
}
.cheked{
	height:40px;
	width:28px;
	display:block;
	background:url(../images/check-icon.png) no-repeat 50% 50%;
}
.disabled {
    height: 40px;
    width: 28px;
    display: block;
    background: url(../images/check-icon.png) no-repeat 0% 100%;
}

.dataform > label {
	font-size:13px;
    line-height:35px;
	float:left;
	vertical-align: super;
	color:#4C4A4A;
	font-weight: 600;
    margin-left:80px;
    width:220px;
}
.info {
    float:left;
    width:30%;
    line-height:2.7rem;
	font-size:14px;
    text-align:center;
}
.registered {
	font-size:13px;
	float:right;
	vertical-align: super;
	color:#4C4A4A;
	font-weight: 600;
}
 .registered a {
     color:red;
}
/*----*/
/*--copyrights--*/
.copy-rights{
	text-align: center;
	margin-top: 8em;
}
.copy-rights p{
	color:#FFF;
	font-size: 1em;
	line-height:1.8em;
}
.copy-rights p a{
	color:#ff2a75;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration:none;
}
.copy-rights p a:hover{
	color:#3faa53;
	text-decoration:none;
		transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
/*--/copyrights--*/

@media only screen and (max-width:1680px) and (min-width:1440px) {
	.main{
	width:70%;
	margin:6em auto 0;
	}
	.copy-right p {
		margin: 3.5em 0em;
	}
}
@media only screen and (max-width:1440px) and (min-width:1366px) {
	.main{
	width:80%;
	margin:6em auto 0;
	}
	.copy-right p {
	margin: 3.8em 0em;
	}
}
@media only screen and (max-width:1366px) and (min-width:1280px) {
	.main{
	width:82%;
	margin:6em auto 0;
	}
	.copy-right p {
	margin: 4em 0em;
	}
}
@media only screen and (max-width:1280px) and (min-width:1024px) {
	.main{
	width:89%;
	margin:5em auto 0;
	}
	.copy-right p {
	margin: 3.5em 0em;
	}
}
@media only screen and (max-width:1024px) and (min-width:768px) {
	.main{
	width:97%;
	margin:5em auto 0;
	}
	.dataform input:not([type=submit]){
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 60%;
	}
	.copy-right p {
	margin: 3.5em 0em;
	}
}
@media only screen and (max-width:768px) and (min-width:640px) {
	.main{
	width:95%;
	margin:5em auto 0;
	}
	.dataform input:not([type=submit]),.dataform select  {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0.1em 0.1em 0.1em 0.1em;
	width: 60%;
	}
	.dataform{
	width:88%;
	text-align: center;
	}
	.dataform > label {
	margin-left:42px;
	margin-top: 13px;
	}

	.dataform li{
	margin-left:32px;
	}
	.dataform input[type=submit],.submit-btn {
	padding: 12px 12px;
	float: right;	
	margin-right:9%;
    width:75%;
	}
	.main h4 {
	float:left;
	margin: 7px 36px;
	}
	.main h3{
	margin-top:-2em;
	}
	.copy-right p {
	margin: 3.5em 0em;
	}
}	
@media only screen and (max-width:640px) and (min-width:480px) {
	.main{
	width:95%;
	margin:5em auto 0;
	}
	.dataform input:not([type=submit]),.dataform select,.submit-btn  {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0.1em 1em 0.1em 0.1em;
	width: 60%;
	}
	.dataform{
	width:88%;
	text-align: center;
	}
	.dataform > label {
	margin-left:42px;
	margin-top: 13px;
	}
	.dataform li{
	margin-left:13px;
	}
	.dataform input[type=submit],.submit-btn {
	text-align:center;
	margin-left:12%;
    margin-top:4%;
	margin-right:7%;
    height:46px;
    width:80%;
    border:1px solid red;
	}
	.main h4 {
	float:left;
	margin: 7px 17px;
	}
	.copy-right p {
		margin: 3.5em 0em;
	}
}
@media only screen and (max-width:480px) and (min-width:320px) {
	.main{
	width:95%;
	margin:2em auto 0;
	}
	.main p{
	padding:16px 20px;
	}
	.dataform input:not([type=submit]),.submit-btn {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0.1em 1em 0.1em 0.1em;
	width: 60%;
	}
	.dataform > label {
	margin-left:10px;
	margin-top: 13px;
	}
	.dataform li{
	margin-left:13px;
	}
	.dataform input[type=submit],.submit-btn {
	text-align:center;
	margin-left:13%;
    width:80%;
    height:44px;
    border:1px solid red;
	}
	.main h4 {
	float:left;
	margin: 7px 17px;
	}
	.copy-right p {
	margin: 3em 0em;
	}
}	
@media only screen and (max-width:320px) and (min-width:240px) {
	.main{
	width:96%;
	margin:2em auto 0;
	}
	.main p{
	padding:16px 17px;
	}
	.dataform input:not([type=submit]),.dataform select,.submit-btn  {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0.1em 0.11em 0.1em 0.1em;
	width: 60%;
	}
	.dataform{
	text-align: center;
	}
	.dataform > label {
	margin-left:10px;
	margin-top: 13px;
	}
	.dataform li{
	margin-left:-6px;
	}
	.dataform input[type=submit],.submit-btn {
	text-align:center;
    margin-left:10%;
    height:38px;
	margin:10%;
    width:80%;
    border:1px solid red;
	}
	.main h4 {
	float:left;
	margin: 7px 17px;
	}
	.copy-right p {
		margin:2.5em 0em;
	}
	.icon{
	margin: 7px 5px 9px 0px;
	}
}
/*----//end-responsive design-----*/