@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@CustomHelper.GetValue("Website-Titlte") - 登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content=@CustomHelper.GetValue("Website-Titlte") - 登录" />
    <link href="~/Styles/reg.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>登录</h1>
        </div>
        <form>
            <ul class="dataform">
                <li>
                    <lable class="info">账号:</lable><input type="text" placeholder="账号" required  id="account"/>
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">密码:</lable><input type="password" placeholder="请输入密码" required id="password"/>
                    <div class="clear"> </div>
                </li>

                <input type="submit" onClick="myFunction()" value="登录">

                <p class="registered">还没账号?<a href="/account/register">立即注册</a></p>
                <div class="clear"> </div>
            </ul>
            <div class="clear"> </div>

        </form>

    </div>

    <div class="copy-rights">
        <p>Copyright &copy;@CustomHelper.GetValue("Company_Statement")</p>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
        $("#loginBtn").click(function () {
            Login();
        })
        function Login() {
            var accoount = $("#account").val();
            var password = $("#password").val();
            if (accoount == "") {
                    alert("请输入账号");
                    return false;
                }
            if (password == "") {
                    alert("请输入密码");
                    return false;
                }
                $.ajax({
                    type: 'get',
                    url: "/accout/Submit",
                    data: { accoount: accoount, password: password },
                    success: function (data) {
                        if (data.Result) {
                            window.location.href = "@(string.IsNullOrEmpty(Request["redirecturl"])?"/Home/index": Request["redirecturl"])";
                        }
                        else {
                            alert(data.ErrorDesc);
                        }
                    }
                });
        }

        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) { // enter 键
                Login();
            }
        };
    </script>
</body>
</html>          